version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: todo-backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://localhost:3000
        VITE_AUTH0_DOMAIN: dev-3ekq5zrafmsvadp2.us.auth0.com
        VITE_AUTH0_CLIENT_ID: 57woiw4lqd7I7gQphwwTYaZjUJwyc7q7
        VITE_AUTH0_AUDIENCE: https://todo-api.jdquintana.com
    container_name: todo-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "5173:80"

